multiview-stitcher>=0.1.56
dask>=2024.8.0,<2026.9.0
ngff-zarr>=0.38.0,<0.46.0
multiscale-spatial-image>=2.0.0,<2.2.0
pydantic>=2
opencv-python-headless
spatial-image
magic-class
rocrate>=0.15.0
probreg
